fastapi
uvicorn
python-dotenv
qdrant-client
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-qdrant
tiktoken
psycopg2-binary
sqlalchemy
asyncpg
markdown
beautifulsoup4
unstructured